<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="component-tres-styles.html">
<link rel="import" href="./bower_components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="./bower_components/cells-image-card/cells-image-card.html">
<link rel="import" href="./bower_components/component-tres-hijo/component-tres-hijo.html">

<dom-module id="component-tres">
  <script src="component-tres.js"></script>
</dom-module>